<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 id="demo"></h1>
     {% for chat in chats %}
     {{ chat.group }} <br>
     {% endfor %}
    <textarea name="" id="txt-message" rows="10" cols="50"></textarea>
    <input type="text" id="txt-input" size="50">
    <button id="btn-send">Send</button>
    {{ groupname|json_script:"group" }}
</body>

<script>

       let group_name = JSON.parse(document.getElementById("group").textContent);
       let ws = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + group_name
        + '/'
       );
      // let ws = new WebSocket('ws://127.0.0.1:8000/ws/chat/') 

    ws.onopen = function(){
        console.log("Connected to WebSocket Server")
    }

    ws.onmessage = function(event){ // backend message received here
        console.log("Received message: " + event.data) 
        let data = JSON.parse(event.data)   // string → object
        document.getElementById("txt-message").value += data.message + "\n"
    }

    ws.onclose = function(event){
        console.log("Disconnected from WebSocket Server")
    }

    ws.onerror = function(error){
        console.error("WebSocket Error: " + error)
    }

    document.getElementById("btn-send").onclick= function(event){
        let message = document.getElementById("txt-input")
        const input_message = message.value
        ws.send(JSON.stringify({msg : input_message})) // object → string
        message.value = ""
    }
</script>

</html>